<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t2m.euiccoverlay"
    android:compileSdkVersion="30"
    android:compileSdkVersionCodename="11"
    platformBuildVersionCode="30"
    platformBuildVersionName="11"
    android:versionCode="30"
    android:versionName="11">

    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="30" />

    <application
        android:extractNativeLibs="false"
        android:usesNonSdkApi="true">
        <receiver
            android:name="com.t2m.euiccoverlay.T2mEuiccReceiver"
            android:directBootAware="true"
            android:permission="android.permission.WRITE_EMBEDDED_SUBSCRIPTIONS">
            <intent-filter>
                <action android:name="com.google.android.euicc.action.PARTNER_CUSTOMIZATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
